<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AncestryAssistant.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>

    <userSettings>
        <AncestryAssistant.My.MySettings>
            <setting name="AncestorsPath" serializeAs="String">
                <value>D:\Geneology\Ancestors\</value>
            </setting>
            <setting name="MainForm_ClientSize" serializeAs="String">
                <value>892, 546</value>
            </setting>
            <setting name="MainSplitter" serializeAs="String">
                <value>239</value>
            </setting>
            <setting name="MainSplitter_Panel1Collapsed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainSplitter_Panel2Collapsed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SideSplitter_Panel1Collapsed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SideSplitter_Panel2Collapsed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SideSplitter" serializeAs="String">
                <value>188</value>
            </setting>
            <setting name="SideSplitter_Panel1Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SideSplitter_Panel2Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Ancestor_Name_Width" serializeAs="String">
                <value>175</value>
            </setting>
            <setting name="Ancestor_Death_Width" serializeAs="String">
                <value>175</value>
            </setting>
            <setting name="Ancestor_Birth_Width" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Ancestor_Task_Item" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="Ancestor_Task_Comments" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="TB_ANCESTRY_LOC" serializeAs="String">
                <value>28, 388</value>
            </setting>
            <setting name="TB_WEB_LOC" serializeAs="String">
                <value>24, 3</value>
            </setting>
            <setting name="TB_RESEARCH_LOC" serializeAs="String">
                <value>242, 24</value>
            </setting>
            <setting name="APP_FONT" serializeAs="String">
                <value>Segoe UI Semibold, 9pt, style=Bold</value>
            </setting>
            <setting name="FORM_A_FG" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="SPLIT_LM_R_DISTANCE" serializeAs="String">
                <value>661</value>
            </setting>
            <setting name="SPLIT_LM_R_P1_COLLAPSED" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SPLIT_LM_R_P2_COLLAPSED" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SPLIT_L_M_DISTANCE" serializeAs="String">
                <value>297</value>
            </setting>
            <setting name="SPLIT_L_M_P1_COLLAPSED" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SPLIT_L_M_P2_COLLAPSED" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SPLIT_L_DISTANCE" serializeAs="String">
                <value>242</value>
            </setting>
            <setting name="SPLIT_L_P1_COLLAPSED" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SPLIT_L_P2_COLLAPSED" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SPLIT_R_DISTANCE" serializeAs="String">
                <value>241</value>
            </setting>
            <setting name="SPLIT_R_P1_COLLAPSED" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SPLIT_R_P2_COLLAPSED" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ANCESTRY_SHOW_TOOLBAR" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MNU_ANCESTOR_CHECKED" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MNU_ANCESTORLIST_CHECKED" serializeAs="String">
                <value>True</value>
            </setting>
        </AncestryAssistant.My.MySettings>
    </userSettings>
</configuration>
