<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AncestryAssistant.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- me section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog" />-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME" /> -->
    </sharedListeners>
  </system.diagnostics>
  <userSettings>
    <AncestryAssistant.My.MySettings>
      <setting name="AncestorsPath" serializeAs="String">
        <value>D:\Geneology\Ancestors\</value>
      </setting>
      <setting name="MainForm_ClientSize" serializeAs="String">
        <value>892, 546</value>
      </setting>
      <setting name="MainSplitter" serializeAs="String">
        <value>239</value>
      </setting>
      <setting name="MainSplitter_Panel1Collapsed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MainSplitter_Panel2Collapsed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SideSplitter_Panel1Collapsed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SideSplitter_Panel2Collapsed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SideSplitter" serializeAs="String">
        <value>188</value>
      </setting>
      <setting name="SideSplitter_Panel1Visible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SideSplitter_Panel2Visible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ancestor_Name_Width" serializeAs="String">
        <value>175</value>
      </setting>
      <setting name="Ancestor_Death_Width" serializeAs="String">
        <value>175</value>
      </setting>
      <setting name="Ancestor_Birth_Width" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="Ancestor_Task_Item" serializeAs="String">
        <value>75</value>
      </setting>
      <setting name="Ancestor_Task_Comments" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="TB_ANCESTRY_LOC" serializeAs="String">
        <value>48, 4</value>
      </setting>
      <setting name="TB_WEB_LOC" serializeAs="String">
        <value>24, 3</value>
      </setting>
      <setting name="TB_RESEARCH_LOC" serializeAs="String">
        <value>242, 24</value>
      </setting>
      <setting name="APP_FONT" serializeAs="String">
        <value>Segoe UI Semibold, 9pt, style=Bold</value>
      </setting>
      <setting name="FORM_A_FG" serializeAs="String">
        <value>ControlText</value>
      </setting>
      <setting name="SPLIT_LM_R_DISTANCE" serializeAs="String">
        <value>661</value>
      </setting>
      <setting name="SPLIT_LM_R_P1_COLLAPSED" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SPLIT_LM_R_P2_COLLAPSED" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SPLIT_L_M_DISTANCE" serializeAs="String">
        <value>297</value>
      </setting>
      <setting name="SPLIT_L_M_P1_COLLAPSED" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SPLIT_L_M_P2_COLLAPSED" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SPLIT_L_DISTANCE" serializeAs="String">
        <value>242</value>
      </setting>
      <setting name="SPLIT_L_P1_COLLAPSED" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SPLIT_L_P2_COLLAPSED" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SPLIT_R_DISTANCE" serializeAs="String">
        <value>241</value>
      </setting>
      <setting name="SPLIT_R_P1_COLLAPSED" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SPLIT_R_P2_COLLAPSED" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ANCESTRY_SHOW_TOOLBAR" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MNU_ANCESTOR_CHECKED" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MNU_ANCESTORLIST_CHECKED" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IMAGE_CATEGORIES" serializeAs="String">
        <value>Certificate,Document,Newspaper,Photo</value>
      </setting>
      <setting name="IMAGE_TYPE_Certificate" serializeAs="String">
        <value>Birth,Death,Marriage</value>
      </setting>
      <setting name="IMAGE_TYPE_Document" serializeAs="String">
        <value>Land,Will</value>
      </setting>
      <setting name="IMAGE_TYPE_Newspaper" serializeAs="String">
        <value>Obituary,Marriage</value>
      </setting>
      <setting name="IMAGE_TYPE_Photo" serializeAs="String">
        <value>Headstone,Portrait,Profile</value>
      </setting>
      <setting name="UI_ML_VIS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UI_MR_VIS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UI_ML_WIDTH" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="UI_MB_VIS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UI_MB_HEIGHT" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="UI_LT_VIS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UI_LB_VIS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UI_LT_HEIGHT" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="UI_L_WIDTH" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="UI_RT_VIS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UI_RB_VIS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UI_RT_HEIGHT" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="UI_R_WIDTH" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="UI_LT_CTL" serializeAs="String">
        <value>ANCESTOR</value>
      </setting>
      <setting name="UI_LB_CTL" serializeAs="String">
        <value>ANCESTORS</value>
      </setting>
      <setting name="UI_ML_CTL" serializeAs="String">
        <value>ANCESTRY</value>
      </setting>
      <setting name="UI_MR_WIDTH" serializeAs="String">
        <value>400</value>
      </setting>
    </AncestryAssistant.My.MySettings>
  </userSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.25.0.0" newVersion="3.25.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ZstdSharp" publicKeyToken="8d151af33a4ad5cf" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.7.3.0" newVersion="0.7.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="K4os.Compression.LZ4.Streams" publicKeyToken="2186fa9121ef231d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.6.0" newVersion="1.3.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.3" newVersion="7.0.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Emgu.CV.Bitmap" publicKeyToken="7281126722ab4438" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.1.5350" newVersion="4.8.1.5350" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Emgu.CV.Platform.NetFramework" publicKeyToken="7281126722ab4438" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.1.5350" newVersion="4.8.1.5350" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>