<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AncestryAssistant.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <AncestryAssistant.My.MySettings>
            <setting name="AncestorsPath" serializeAs="String">
                <value>D:\Geneology\Ancestors\</value>
            </setting>
            <setting name="MainForm_ClientSize" serializeAs="String">
                <value>892, 546</value>
            </setting>
            <setting name="MainSplitter" serializeAs="String">
                <value>239</value>
            </setting>
            <setting name="MainSplitter_Panel1Collapsed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainSplitter_Panel2Collapsed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SideSplitter_Panel1Collapsed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SideSplitter_Panel2Collapsed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SideSplitter" serializeAs="String">
                <value>188</value>
            </setting>
            <setting name="SideSplitter_Panel1Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SideSplitter_Panel2Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Ancestor_Name_Width" serializeAs="String">
                <value>175</value>
            </setting>
            <setting name="Ancestor_Death_Width" serializeAs="String">
                <value>175</value>
            </setting>
            <setting name="Ancestor_Birth_Width" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Ancestor_Task_Item" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="Ancestor_Task_Comments" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="TB_ANCESTRY_LOC" serializeAs="String">
                <value>28, 388</value>
            </setting>
            <setting name="TB_WEB_LOC" serializeAs="String">
                <value>24, 3</value>
            </setting>
            <setting name="TB_RESEARCH_LOC" serializeAs="String">
                <value>242, 24</value>
            </setting>
            <setting name="APP_FONT" serializeAs="String">
                <value>Segoe UI Semibold, 9pt, style=Bold</value>
            </setting>
            <setting name="FORM_A_FG" serializeAs="String">
                <value>ControlText</value>
            </setting>
        </AncestryAssistant.My.MySettings>
    </userSettings>
</configuration>